@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .websiteIntro {
    display: flex;
    gap: 154px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .imgIntroContainer {
    max-width: 200px;
    max-height: 150px;
    align-items: center;
    z-index: 100;
    margin-left: 7px;
    border-right: none;
  }

  .leftImg {
    width: 90px;
    height: 150px;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .aboutWebsite {
    width: 50%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 60px;
  }

  .logo {
    margin-top: 20px;
  }

  .introText {
    font-size: 1px;
  }

  .introText p {
    font-size: 8px;
  }

  .introText h2 {
    font-size: 9px;
  }

  .introText h2 b {
    font-size: 13px;
  }
  .introText .highlight,
  .introText .highlight2,
  .introText .highlight3 {
    font-size: 10px;
  }

  .logo {
    display: none;
  }

  .xiaoLogo {
    display: none;
  }
}

@media (max-width: 368px) {
  .websiteIntro {
    gap: 100px;
  }

  .aboutWebsite {
    padding-left: 100px;
  }
}
